<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Site{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div id="nav-bar">
    <a class="nav-item" href="/">Home<br>🏠</a>
    <a class="nav-item" href="{% url 'login' %}">Login<br>🔐</a>
    <a class="nav-item" href="{% url 'home' %}">Bank Home<br>🏦</a>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>